extends layout

block head
  nav.navbar.navbar-default(role='navigation')
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    .navbar-center.navbar-brand(href='#')
      a.navbar-brand(style="float:none;" href="#") SeeTweet
    // Collect the nav links, forms, and other content for toggling
    #navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-left
        li
          a(href='profile.pug') Your Profile
        li
          a(href='#') Statistics
        //- li
        //-   a(href='#') Link
    //-     li.dropdown
    //-       a.dropdown-toggle(href='#', data-toggle='dropdown')
    //-         | Dropdown
    //-         b.caret
    //-       ul.dropdown-menu
    //-         li
    //-           a(href='#') Action
    //-         li
    //-           a(href='#') Another action
    //-         li
    //-           a(href='#') Something else here
    //-         li.divider
    //-         li
    //-           a(href='#') Separated link
    // /.navbar-collapse

//- block main
//-   svg(style="display:block;margin:auto;" width="960" height="600")

  //- div.col-lg-12(class="vcenter")
  //-   div.panel.panel-default
  //-     div.panel-heading
  //-       h3.panel-title
  //-         img(src=pic)
  //-         span  #{user} | Followers: #{followers}<br><br> #{description} <br> #{mentions}
  //-     -for(var i = 0; i < 320; ++i){
  //-       div.panel-body
  //-         span #{tweets[i]} <br> Favourite Count: <b>#{favs[i]}</b> | Retweet Count: <b>#{retweets[i]}</b>
  //-     -}


  //- var svg = d3.select("svg"),
  //-   width = +svg.attr("width"),
  //-   height = +svg.attr("height");
  //-
  //- var color = d3.scaleOrdinal(d3.schemeCategory20);

  //- var simulation = d3.forceSimulation()
  //-     .force("link", d3.forceLink().id(function(d) { return d.id; }))
  //-     .force("charge", d3.forceManyBody())
  //-     .force("center", d3.forceCenter(width / 2, height / 2));
