doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    
  body  
    header 
      p See Tweet

  block search   
    div.col-lg-offset-3.col-lg-6
      div.input-group
        input(type="text" class="form-control" placeholder="@Username" id="userInput")
        span.input-group-btn
          button(class="btn btn-secondary" type="button" onClick="getTweets()") 
            span See!  
  
  block timeline     
    div.col-lg-12    
      div.panel.panel-default
        div.panel-heading
          h3.panel-title 
            img(src=pic)
            span  #{user} | Followers: #{followers}<br><br> #{description}
        - for (var i = 0; i < 320; ++i) {
        div.panel-body
          span #{tweets[i]} <br> Favourite Count: <b>#{favs[i]}</b> | Retweet Count: <b>#{retweets[i]}</b>
        - }
  
  //header
  //- nav
  //-   ul
  //-     li 
  //-       a(href="/") Home
  //-     li 
  //-       a(href="/about") About
  //-     li 
  //-       a(href="/contact") Contact

script (src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")     
script (src="/javascripts/file.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")     
