extends layout

block head_scripts

block head
    nav.navbar.navbar-default(role='navigation')
        // Brand and toggle get grouped for better mobile display
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
        .navbar-center.navbar-brand(href='#')
            a.navbar-brand(style="float:none;" href="#") SeeTweet
        // Collect the nav links, forms, and other content for toggling
        #navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-left
            li
              a(id='getTimeline' href='javascript:void();')
                span.glyphicon.glyphicon-home
            li
              a(href='#' style="text-decoration:underline") !{name}'s Profile
            li
              a(id='getStatistics' href='javascript:void();') !{name}'s Statistics


block main
    div.col-lg-12(class="vcenter")
        div.panel.panel-info
            div.panel-heading
                h3.panel-title
                    img(src=pic)
                    span(style="vertical-align:bottom") #{user} - #{description} <br><br>Followers: 
                    | <strong>#{followers}</strong> | Following: <strong> #{following} </strong>
                    | | Likes: <strong> #{likes} </strong> #{mentions}

    -for(var i = 0; i < tweets.length; ++i){
      .col-lg-4(style="height:150px;")
        .panel.panel-info
          .panel-heading
            .panel-title
              span.glyphicon.glyphicon-retweet(style="color:#19CF86;")
              span &#32; <b>#{favs[i]}</b>
              span &#32;
              span.glyphicon.glyphicon-heart(style="color:#E81C4F;")
              span &#32; <b>#{retweets[i]}</b>
          .panel-body
            span #{tweets[i]} 
    -}
    
block scripts
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  script(src="/javascripts/file.js")
  script(src="https://d3js.org/d3.v4.min.js")
