extends layout

block head_scripts
  script(src="/javascripts/Chart.bundle.min.js")
  script.
    var tweet_times = !{JSON.stringify(tweet_times)}
    var tweet_days = !{JSON.stringify(tweet_days)}

block head

  nav.navbar.navbar-default(role='navigation')
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    .navbar-center.navbar-brand(href='#')
      a.navbar-brand(style="float:none;" href="#") SeeTweet
    // Collect the nav links, forms, and other content for toggling
    #navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-left
        li
          a(href='#')
            span.glyphicon.glyphicon-home
        li
          a(href='profile') Your Profile
        li
          a(href='#') Statistics

block main

  //- - var tweet_times = JSON.stringify(!{tweet_times})
    //- var tweet_days = !{JSON.stringify(tweet_days)}

  div.row.first(style="padding-bottom:70px;")
    div.col-lg-8
      p(style="font-size:72px;text-align:center;") <strong style="color:#111;">#{statuses}</strong> Tweets Tweeted...
      each val in texts
        img(src="images/Twitter_Logo_Blue.png" data-toggle="tooltip" title=val style="width:16px;height:16px;")
    div.col-lg-4
      p(style="font-size:72px") Tweeting Times...
      canvas(id="myChart" width="300" height="300")

  div.row.second
    div.col-lg-12
      p(style="font-size:72px;text-align:center;") On average <strong style="color:#111">#{avg_creation}</strong> Tweets per day...
    div.col-lg-12
      div.col-lg-6
        canvas(id="myBarChart" width="300" height="300")
      div.col-lg-6
        p xox


  div.row.fourth
    div.col-lg-6
      p xox
    div.col-lg-6
      div.top-tweets(style="text-align:center;")
        p(style="font-size:64px;") Top Tweets
        div.radio-select
          form
            label.radio-inline
              input(id="r1" type='radio', name='1', checked="checked")
              | Number of Retweets
            label.radio-inline
              input(id="r2" type='radio', name='2')
              | Number of Likes
          div.twitter-tweet(id="tweet-wrapper")

block scripts
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  script(src="/javascripts/file.js")
  script(src="https://d3js.org/d3.v4.min.js")
  script.
      window.twttr = (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0],
              t = window.twttr || {};
          if (d.getElementById(id)) return t;
          js = d.createElement(s);
          js.id = id;
          js.src = "https://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);

          t._e = [];
          t.ready = function(f) {
              t._e.push(f);
          };
      return t;
      }(document, "script", "twitter-wjs"));
  script(src="/javascripts/file.js")
  script.
      var local_metrics = !{JSON.stringify(metrics)};
  script(src="/javascripts/stats.js")
