extends layout

block head
  nav.navbar.navbar-default(role='navigation')
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    .navbar-center.navbar-brand(href='#')
      a.navbar-brand(style="float:none;" href="#") SeeTweet
    // Collect the nav links, forms, and other content for toggling
    #navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-left
        li
          a(href='#')
            span.glyphicon.glyphicon-home
        li
          a(href='profile') Your Profile
        li
          a(href='#') Statistics
        //- li
        //-   a(href='#') Link
    //-     li.dropdown
    //-       a.dropdown-toggle(href='#', data-toggle='dropdown')
    //-         | Dropdown
    //-         b.caret
    //-       ul.dropdown-menu
    //-         li
    //-           a(href='#') Action
    //-         li
    //-           a(href='#') Another action
    //-         li
    //-           a(href='#') Something else here
    //-         li.divider
    //-         li
    //-           a(href='#') Separated link
    //-navbar-collapse

block main
  div.col-lg-6
    svg(style="display:block;margin:auto;border:2px solid;" width="600" height="600")
  div.col-lg-6
    a(class="twitter-timeline" data-height="600" data-dnt="true" href="https://twitter.com/nodejs") Tweets by nodejs

//- <a class="twitter-timeline" data-height="250" data-dnt="true" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/nodejs">Tweets by nodejs</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  //- div.col-lg-12(class="vcenter")
  //-   div.panel.panel-default
  //-     div.panel-heading
  //-       h3.panel-title
  //-         img(src=pic)
  //-         span  #{user} | Followers: #{followers}<br><br> #{description} <br> #{mentions}
  //-     -for(var i = 0; i < 320; ++i){
  //-       div.panel-body
  //-         span #{tweets[i]} <br> Favourite Count: <b>#{favs[i]}</b> | Retweet Count: <b>#{retweets[i]}</b>
  //-     -}
